<!DOCTYPE html> <html> <head> <meta charSet="UTF-8"/> <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/> <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, viewport-fit=cover"/> <title><%= htmlWebpackPlugin.options.title %></title> <meta name="keywords" content="深圳房地产,二手房,卖房,笋盘,深圳成交,房地产,买房,小区,大湾区,小产权,金港华庭,深圳湾一号,房产顾问"/> <meta name="description" content="深房客是专注于深圳的房地产信息综合平台,通过深房客,全面获取深圳各个板块的分析,楼盘优劣解析,买房答疑,专注于买对深圳的好房子"/> <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-144370731-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-144370731-2');
    </script>
</head> <body> <div id="app"></div> </body> </html>

